@model IEnumerable<Distribuidos.VentasSD.JavaService.usuario>

@{
    ViewBag.Title = "Usuarios";
}


<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="~/Usuarios/Create" class="btn btn-info btn-xs">Nuevo</a>
</p>
<div class="table table-responsive">
    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>
                    NOMBRE
                </th>
                <th>
                    APELLIDO PATERNO
                </th>

                <th>
                    APELLIDO MATERNO
                </th>
                <th>
                    USUARIO
                </th>
                <th>
                    CONTRASEÑA
                </th>
                <th>
                    CARGO
                </th>

                <th>
                    EMAIL
                </th>
                <th>
                    NÚMERO DE DOCUMENTO
                </th>

                <th>
                    TELÉFONO
                </th>
                <th>
                    TIPO DE DOCUMENTO
                </th>
                <th></th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>
                    NOMBRE
                </th>
                <th>
                    APELLIDO PATERNO
                </th>

                <th>
                    APELLIDO MATERNO
                </th>
                <th>
                    USUARIO
                </th>
                <th>
                    CONTRASEÑA
                </th>
                <th>
                    CARGO
                </th>

                <th>
                    EMAIL
                </th>
                <th>
                    NÚMERO DE DOCUMENTO
                </th>

                <th>
                    TELÉFONO
                </th>
                <th>
                    TIPO DE DOCUMENTO
                </th>
                <th></th>
            </tr>
        </tfoot>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.papellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sapellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cargo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.idusuario)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.num_doc)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo_doc)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idusuario }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idusuario })
                </td>
            </tr>
        }

    </table>
</div>