@model IEnumerable<Distribuidos.VentasSD.JavaService.detventaProducto>

@{
    ViewBag.Title = "Detalles de Venta";
}



<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
<table class="table">
    <thead>
        <tr>


            <th>
                PRODUCTO
            </th>

            <th>
                PRECIO
            </th>

            <th>
                CANTIDAD
            </th>
            <th>
                DESCUENTO
            </th>
            


        </tr>
    </thead>
    <tfoot>
        <tr>

            <th>
                PRODUCTO
            </th>

            <th>
                PRECIO
            </th>

            <th>
                CANTIDAD
            </th>
            <th>
                DESCUENTO
            </th>
            

        </tr>
    </tfoot>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                <div>
                    @Html.DisplayFor(modelItem => item.nombre)
                </div>

            </td>

            <td>
                <div id="td_precio_@item.iddetventa">
                    @Html.DisplayFor(modelItem => item.precio)
                </div>
            </td>
            <td>
                <div id="td_cantidad_@item.iddetventa">
                    @Html.DisplayFor(modelItem => item.cantidad)
                </div>
            </td>
            <td>
                <div id="td_descuento_@item.iddetventa">
                    @Html.DisplayFor(modelItem => item.descuento)
                </div>
            </td>
            


        </tr>       
           


    }

</table>

@*@section scripts{*@

@*<script>

    function total(id) {

        var precio = $("#td_precio_" + id).text();
        var cantidad = $("#td_cantidad_" + id).text();
        var descuento = $("#td_descuento_" + id).text();

        var total = precio * cantidad - descuento;


        $("#td_total_" + id).html(id);
    }



</script>*@

@* } *@
