@model IEnumerable<Distribuidos.VentasSD.JavaService.detventa>

@{
    ViewBag.Title = "Detalles de Venta";
}



<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
<table class="table">
    <thead>
        <tr>


            <th>
                @Html.DisplayNameFor(model => model.fk_idproducto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descuento)
            </th>


        </tr>
    </thead>
    <tfoot>
        <tr>


            <th>
                @Html.DisplayNameFor(model => model.fk_idproducto)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descuento)
            </th>


        </tr>
    </tfoot>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.fk_idproducto)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descuento)
            </td>
           
        </tr>
    }

</table>
