@model IEnumerable<Distribuidos.VentasSD.JavaService.ventaUsuarioPersona>
@*@model Distribuidos.VentasSD.JavaService.venta*@

@{
    ViewBag.Title = "Ventas";
}

<p>
    <a href="~/Ventas/Create" class="btn btn-info btn-xs">Nuevo</a>
</p>
<table class="table" id="datatable">
    <thead >
        <tr>
            <th>
               ESTADO
            </th>
            <th>
                CLIENTE
            </th>
            <th>
                USUARIO
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.idventa)
            </th>*@
            <th>
                IGV
            </th>
            
            <th>
                NUMERO DE COMPRA
            </th>
            <th>
                SERIE DE COMPRA
            </th>
            <th>
                TIPO DE COMPRA
            </th>
            <th>
                TOTAL
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.totalSpecified)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                ESTADO
            </th>
            <th>
                CLIENTE
            </th>
            <th>
                USUARIO
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.idventa)
        </th>*@
            <th>
                IGV
            </th>

            <th>
                NUMERO DE COMPRA
            </th>
            <th>
                SERIE DE COMPRA
            </th>
            <th>
                TIPO DE COMPRA
            </th>
            <th>
                TOTAL
            </th>
            <th>
           
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_persona) @Html.DisplayFor(modelItem => item.papellido_persona) @Html.DisplayFor(modelItem => item.sapellido_persona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_usuario)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.idventa)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.igv)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.igvSpecified)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.num_comp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.serie_comp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo_comp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.totalSpecified)
                </td>*@
                <td>
                    @Html.ActionLink("Asignar producto", "AsignarProducto", new { id = item.idventa }) |
                    @Html.ActionLink("Detalles", "Details", new { id=item.idventa})
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{

<script>

    //$.ajax({
    //    method: "get",
    //    url: "./Ventas/mostrar",
    //    success: function (data) {
    //        console.log(data);
    //    }



    //})


</script>

    
}